$brand-font--heading: "Rethink Sans", source-sans-pro, sans-serif;
$brand-font--body: "Commissioner", source-sans-pro, sans-serif;
$brand-font--mono: "Geist Mono", source-sans-pro, sans-serif;

$black: #0f0f0f;
$grey-darker: #1a1a1a;
$grey-dark: #292929;
$grey: #c0c0c0;
$grey-green: #a9b2aa;
$grey-blue: #d9dae7;
$grey-light: #e0e9e0;
$white: #fbfcfd;

$green: #00bc7f;
$green-soft: #e9f4ea; // bg-color
$green-heavy: #00483b;
// $coral: #e48c66;
$red: #dc143c;
$blue: #ada4e3;
$yellow: #fdfd96;

$brand-primary: $green;

$content-width: 1440px; // make sure to update the xxl media query too

// Layering
$z-index--nav: 3;
$z-index--header: 4;
$z-index--btn-back-to-top: 1; // Library DELETE ME
$z-index--alert: 2; // // // //  Library DELETE ME
$z-index--scroll-progress: 2; // Library DELETE ME
$z-index--loader: 5; // // // // Library DELETE ME
$z-index--video-overlay: 5; // / Library DELETE ME
$z-index--mouse-cursor: 10; // / Library DELETE ME

// Easing
$cubic-ease: cubic-bezier(0.18, 0.97, 0.47, 1);
$cubic-ease-back: cubic-bezier(0.02, 1.14, 0.7, 1.24);
$cubic-ease-back-strong: cubic-bezier(0, 1.2, 0.56, 1.39);
$cubic-ease-sudden: cubic-bezier(0.75, 0, 0.2, 1);
$cubic-ease-sudden-back: cubic-bezier(0.8, -0.11, 0.11, 1.11);
$cubic-ease-sudden-back-strong: cubic-bezier(0.77, -0.43, 0.11, 1.11);
$cubic-ease-slow-finish: cubic-bezier(0.09, 0.9, 0.5, 1);

$ease: 0.24s ease;
$ease-c: 0.64s $cubic-ease;
$ease-sudden: 0.48s $cubic-ease-sudden;

// Library
$magnet: transform 0.5s $cubic-ease;
// $magnet: transform 0.64s $cubic-ease-back-strong;

// Debugging
$test: 2px dashed rgba(yellow, 0.75);
$test-bg: rgba(navy, 0.75);

:root {
  --font-family--heading: #{$brand-font--heading};
  --font-family--body: #{$brand-font--body};
  --font-family--mono: #{$brand-font--mono};

  --content-width: #{$content-width};

  --body-padding: 48px;
  --body-padding-double: calc(var(--body-padding) * 2);
  --body-padding-half: calc(var(--body-padding) / 2);

  --color-background: #{$green-soft};
  --color-background-alt: #fff;
  --color-font--primary: #{$black};
  --color-font--secondary: #{$green-heavy};
  --color-font--tertiary: #{$grey-light};

  --color-surface--1: #{$grey-light};

  --color-border: #{$black};
  --gradient-border-color: rgba(0, 0, 0, 0.5); // Library
  --color-glass-frost: rgba(255, 255, 255, 0.25); // Library

  --border-width: 1px;
  --border-width--btn: 1px;
  --border-width--bold: 2px;

  --color-brand--primary: #{$brand-primary};
  // --color-brand--on-primary: #{$white};
  --color-brand--secondary: #{$blue};
  --color-brand--tertiary: #{$green};

  --color-font--error: #{$red};

  --card-bg: var(--color-surface--1);
  --card-border-radius: var(--radius--lg);
  // --card-border: var(--border-width) solid var(--color-border);
  // --card-padding: var(--body-padding);

  // --color-border: #{$grey-light};

  --color-btn-bg: #{$black};
  --color-btn-bg--hover: transparent;
  --color-btn-text: #{$white};
  --color-btn-text--hover: #{$black};
  --color-btn-border: var(--color-btn-bg);
  --color-btn-border--hover: #{$black};

  --color-link: var(--color-font--primary);
  --color-link--hover: #{$green-heavy};

  --color-badge: var(--color-brand--primary);

  --overlay-opacity: 0.125;
  --overlay-color: #{$black};

  --gap-btn-icon: 0.5ch;

  --padding-btn-y: 15px;
  --padding-btn-x: 30px;
  --padding-btn: var(--padding-btn-y) var(--padding-btn-x);
  --padding-btn-icon: 8px;
  --padding-btn--sm: 12px 18px;
  --padding-btn-icon-sm: 4px;

  --gap-heading-paragraph: 16px;
  --gap-paragraph-paragraph: 12px;
  --gap-figure-caption: 8px;

  --spacing-eyebrow-title: 16px;
  --spacing-title-description: 32px;
  --spacing-description-cta-group: 48px;

  --spacing--xs: 8px;
  --spacing--sm: 16px;
  --spacing: 24px;
  --spacing--lg: 48px;
  --spacing--xl: 96px;

  --section-gap--sm: 12px;
  --section-gap: 24px;
  --section-gap--lg: 48px;
  --section-gap--xl: 64px;

  // Consider adding radius vars for outter/inner based on spacing (padding)
  --radius: 16px;
  --radius--lg: 24px;
  --radius--sm: 8px;
  --radius--xs: 4px;
  --radius--btn: 24px;

  --radius-card: var(--radius--lg);

  // Buttons
  --btn-font-size: 16px;
  --btn-font-weight: 600;
  --btn-font-weight--link: 450; // type 'text' and 'underline'

  --max-width--text: 750px;

  // header
  --header-children-height: 32px;

  --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

  @media (max-width: #{$content-width}) {
    --body-padding: 24px;
  }

  @media (max-width: 1024px) {
    --body-padding: 16px;

    --section-gap--lg: 24px;
    --section-gap--xl: 48px;

    --spacing--xs: 4px;
    --spacing--sm: 12px;
    --spacing: 16px;
    --spacing--lg: 40px;
    --spacing--xl: 64px;
  }
}
