<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- prettier-ignore -->
    {% set defaults = meta_data.defaults %}
    
    {% set pageMeta = null %}
    {% for meta in meta_data.page_details %}
      {% if ('/' + meta.path + '/') == page.url or ('/' + meta.path) == page.url %}
        {% set pageMeta = meta %}
      {% endif %}
    {% endfor %}

    {% include "./meta/_meta-core.njk" %}
    {% include "./meta/_meta-schema.njk" %}
    {% include "./meta/_meta-open-graph.njk" %}
    {% include "./meta/_meta-theme-script.njk" %}

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/static/styles/styles.css" type="text/css" />

    <!-- Library DELETE ME -->
    {% if path == "library/components" %}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    {% endif %}

    <!-- Script Tags -->
    {% if path == "home" %}
    <!-- Netlify Identity Widget -->
    <script
      type="text/javascript"
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"
      defer
    ></script>
    {% endif %}
    <script src="/static/js/alpine.js" defer></script>
    <script src="/static/javascript/index.js" type="module" defer></script>
  </head>
  <body>
    <!-- prettier-ignore -->
    {% include "./partials/header-simple.njk" %}

    <main class="main-content main-{{ path | slugifyPath }}">
      {{ content | safe }}
    </main>

    {%include "./partials/footer-simple.njk" %}

    <!-- Library // CHANGE ME -->
    <!-- prettier-ignore -->
    {% if 
      path == "library/utils" 
      or path == "library/components" 
      or path == "library/combos" 
    %}
      {% include "./components/btn-back-to-top.njk" %}
    {% endif %}

    <!-- prettier-ignore -->
    {% if path == "library/combos" %}
      {% include "./components/video-overlay.njk" %}
    {% endif %}

    <!-- prettier-ignore -->
    {% include "./partials/scripts.njk" %}
  </body>
</html>
