{% if cta_1 %}
<div class="cta-group">
  <!-- prettier-ignore -->
  {% if cta_1 %}
    {% set btn = ({
      text: cta_1.text,
      text_desc: cta_1.text_desc,
      url: cta_1.url,
      new_tab: cta_1.new_tab,
      icon_start: cta_1.icon_start,
      icon_end: cta_1.icon_end,
      type: cta_1.type or 'primary',
      class: cta_1.class or 'cta-1 btn--split-text magnet',
      attributes: cta_1.attributes or 'data-magnet-x="0.24" data-magnet-y="0.64" data-magnet-return-ease="cubic-bezier(0,1.64,.63,1.92)"'
    }) %}
    {% include "./btn.njk" %}
  {% endif %}

  <!-- prettier-ignore -->
  {% if cta_2 %}
    {% set btn = ({
      text: cta_2.text,
      text_desc: cta_2.text_desc,
      url: cta_2.url,
      new_tab: cta_2.new_tab,
      icon_start: cta_2.icon_start,
      icon_end: cta_2.icon_end,
      icon_end_class: 'cursor-target__cta-2',
      type: cta_2.type or 'secondary',
      class: cta_2.class or 'cta-2 btn--split-text magnet',
      attributes: cta_2.attributes or 'data-magnet-x="0.24" data-magnet-y="0.64" data-magnet-return-ease="cubic-bezier(0,1.64,.63,1.92)"'
    }) %}
    {% include "./btn.njk" %}
  {% endif %}
</div>
{% endif %}
