<!-- prettier-ignore -->
{% set title = hero_simple.title or 'No title provided' %}
{% set desc = hero_simple.desc | default('No desc provided') %}
{% set eyebrow = hero_simple.eyebrow or '' %}
{% set cta_1 = hero_simple.cta_1 or null %}
{% set cta_2 = hero_simple.cta_2 or null %}
{% set direction = hero_simple.direction or 'column' %}
{% set float = hero_simple.float or false %}
{% set glass = hero_simple.glass or false %}
{% set class = hero_simple.class or '' %}
{% set section_id = hero_simple.section_id or '' %}

{% set extra_content = hero_simple.extra_content or false %}

{% set corner_imgs = hero_simple.corner_imgs or '' %}

{% if float %}
  {% set class = class + ' hero-simple--float' %}
{% endif %}

{% if not extra_content %}
  {% set class = class + ' hero-simple--text-only' %}
{% endif %}

{% if hero_simple.toggle_section %}
<!-- prettier-ignore -->
<section class="hero-simple hero-simple--{{ direction }} {{ class }}" {% if section_id %}id="{{ section_id }}"{% endif %}>
  <div class="hero-simple__inner">
    <div class="hero-simple__text">
      <!-- prettier-ignore -->
      {% if eyebrow %}
      <small class="hero-simple__text-eyebrow"> {{ eyebrow }} </small>
      {% endif %}

      <!-- prettier-ignore -->
      {% if title %}
      <h1 class="hero-simple__text-title">{{ title }}</h1>
      {% endif %}

      <!-- prettier-ignore -->
      {% if desc %}
      <p class="hero-simple__text-desc">{{ desc | safe }}</p>
      {% endif %}

      <!-- prettier-ignore -->
      {% set content_start = true %}
      {% include "../components/cta-group.njk" %}
      {% set content_start = false %}
    </div>

    {% if extra_content %}
    <div class="hero-simple__extra">
      <img
        class="hero-simple__extra-hero-img"
        src="{{ hero_simple.extra_hero_img.src }}"
        alt="{{ hero_simple.extra_hero_img.alt }}"
      />
    </div>
    {% endif %}
  </div>
</section>
{% endif %}
