<!-- prettier-ignore -->
{% set eyebrow = image_grid.eyebrow or '' %}
{% set title = image_grid.title or 'No title provided' %}
{% set desc = image_grid.desc | default('No desc provided') %}
{% set images = image_grid.images or [] %}
{% set class = image_grid.class or '' %}
{% set section_id = image_grid.section_id or '' %}

<section class="image-grid {{ class }}" {% if section_id %}id="{{ section_id }}"{% endif %}>
  <div class="image-grid__inner">
    <div class="image-grid__text">
      <!-- prettier-ignore -->
      {% if eyebrow %}
      <small class="image-grid__text-eyebrow"> {{ eyebrow }} </small>
      {% endif %}

      <div class="image-grid__text-group">
        <!-- prettier-ignore -->
        {% if title %}
        <h2 class="image-grid__text-title">{{ title }}</h2>
        {% endif %}

        <!-- prettier-ignore -->
        {% if desc %}
        <p class="image-grid__text-desc">{{ desc | safe }}</p>
        {% endif %}
      </div>
    </div>

    {% if images.length %}
    <ul
      class="image-grid__list gsap-stagger"
      data-stagger-delay="0.1"
      data-stagger-once="false"
    >
      {% for image in images %}
      <li class="image-grid__item gsap-stagger-child">
        <div class="image-grid__card velocity-push">
          <img
            class="image-grid__item-img"
            src="{{ image.src }}"
            alt="{{ image.alt }}"
          />
        </div>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</section>
