<!-- prettier-ignore -->
{% set eyebrow = image_grid.eyebrow or '' %}
{% set title = image_grid.title or 'No title provided' %}
{% set desc = image_grid.desc | default('No desc provided') %}
{% set images = image_grid.images or [] %}
{% set portraits = image_grid.portraits or [] %}
{% set class = image_grid.class or '' %}
{% set section_id = image_grid.section_id or '' %}

{% if image_grid.toggle_section %}
<!-- prettier-ignore -->
<section class="image-grid {{ class }}" {% if section_id %}id="{{ section_id }}"{% endif %}>
  <div class="image-grid__inner">
    <div class="image-grid__text">
      <!-- prettier-ignore -->
      {% if eyebrow %}
      <small class="image-grid__text-eyebrow"> {{ eyebrow }} </small>
      {% endif %}

      <div class="image-grid__text-group">
        <!-- prettier-ignore -->
        {% if title %}
        <h2 class="image-grid__text-title">{{ title }}</h2>
        {% endif %}

        <!-- prettier-ignore -->
        {% if desc %}
        <p class="image-grid__text-desc">{{ desc | safe }}</p>
        {% endif %}
      </div>
    </div>

    {% if portraits.length %}
    <ul
      class="image-grid__list image-grid__list--portraits gsap-stagger"
      data-stagger-delay="0.1"
      data-stagger-once="false"
    >
      {% for portrait in portraits %}
      <li class="image-grid__item gsap-stagger-child">
        <div class="image-grid__card image-grid__card--portrait velocity-push">
          <img
            class="image-grid__item-img"
            src="{{ portrait.src }}"
            alt="{{ portrait.alt }}"
          />
        </div>

        <div class="image-grid__portrait-info">
          <!-- prettier-ignore -->
          {% if portrait.name %}
          <p class="image-grid__portrait-name">{{ portrait.name }}</p>
          {% endif %}

          <!-- prettier-ignore -->
          {% if portrait.role %}
          <p class="image-grid__portrait-role">{{ portrait.role }}</p>
          {% endif %}

          <!-- prettier-ignore -->
          {% if portrait.description %}
          <p class="image-grid__portrait-desc">{{ portrait.description }}</p>
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
    {% elif images.length %}
    <ul
      class="image-grid__list gsap-stagger"
      data-stagger-delay="0.1"
      data-stagger-once="false"
    >
      {% for image in images %}
      <li class="image-grid__item gsap-stagger-child">
        <div class="image-grid__card velocity-push">
          <img
            class="image-grid__item-img"
            src="{{ image.src }}"
            alt="{{ image.alt }}"
          />
        </div>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</section>
{% endif %}
