@use "../base/mixins";

// .cta-1 {
//   @include mixins.btn-type--primary;
// }

// .cta-2 {
//   @include mixins.btn-type--secondary;
// }

.cta-group {
  display: flex;
  justify-content: start;
  gap: var(--spacing);
  flex-shrink: 0;
  flex-wrap: wrap;

  @include mixins.mq-max(sm) {
    flex-direction: column;
    width: 100%;
  }
}
