---
layout: app
path: home
---

<!-- prettier-ignore -->
{% set hero_simple = page_home.home_hero %}
{% include './_includes/sections/hero-simple.njk' %}

<!-- prettier-ignore -->
{% set text_stack = page_home.home_text_stack %}
{% include './_includes/sections/text-stack.njk' %}

<!-- prettier-ignore -->
{% set image_grid = page_home.home_image_grid %}
{% include './_includes/sections/image-grid.njk' %}

<!-- prettier-ignore -->
{% set text_stack = page_home.home_text_invite %}
{% include './_includes/sections/text-stack.njk' %}

<!-- prettier-ignore -->
{% set carousel_testimonial = page_home.home_carousel_testimonial %}
{% include './_includes/sections/carousel-testimonial.njk' %}

<!-- prettier-ignore -->
{% set stats = page_home.home_stats %}
{% include './_includes/sections/stats.njk' %}
