---
layout: app
path: medication-management
---

<!-- prettier-ignore -->
{% set hero_simple = page_medication_management.medication_management_hero %}
{% include './_includes/sections/hero-simple.njk' %}

<!-- prettier-ignore -->
{% set text_stack = page_medication_management.medication_management_text_stack %}
{% include './_includes/sections/text-stack.njk' %}

<!-- prettier-ignore -->
{% set carousel_full = page_medication_management.medication_management_carousel_full %}
{% include './_includes/sections/carousel-full.njk' %}

<!-- prettier-ignore -->
{% set text_stack = page_medication_management.medication_management_text_invite %}
{% include './_includes/sections/text-stack.njk' %}

<!-- prettier-ignore -->
{% set common_questions = page_medication_management.medication_management_common_questions %}
{% include './_includes/sections/common-questions.njk' %}

<!-- prettier-ignore -->
{% set testimonial_carousel = page_medication_management.medication_management_testimonial_carousel %}
{% include './_includes/sections/testimonial-carousel.njk' %}

<!-- prettier-ignore -->
{% set stats = page_medication_management.medication_management_stats %}
{% include './_includes/sections/stats.njk' %}
