---
layout: app
path: neurostar-tms
---

<!-- prettier-ignore -->
{% set hero_simple = page_neurostar_tms.neurostar_tms_hero %}
{% include './_includes/sections/hero-simple.njk' %}

<!-- prettier-ignore -->
{% set text_stack = page_neurostar_tms.neurostar_tms_text_stack %}
{% include './_includes/sections/text-stack.njk' %}

<!-- prettier-ignore -->
{% set carousel_full = page_neurostar_tms.neurostar_tms_carousel_full %}
{% include './_includes/sections/carousel-full.njk' %}

<!-- prettier-ignore -->
{% set carousel_testimonial = page_neurostar_tms.neurostar_tms_carousel_testimonial %}
{% include './_includes/sections/carousel-testimonial.njk' %}

<!-- prettier-ignore -->
{% set common_questions = page_neurostar_tms.neurostar_tms_common_questions %}
{% include './_includes/sections/common-questions.njk' %}

<!-- prettier-ignore -->
{% set text_stack = page_neurostar_tms.neurostar_tms_text_invite %}
{% include './_includes/sections/text-stack.njk' %}
