---
layout: app
path: talk-therapy
---

<!-- prettier-ignore -->
{% set hero_simple = page_talk_therapy.talk_therapy_hero %}
{% include './_includes/sections/hero-simple.njk' %}

<!-- prettier-ignore -->
{% set text_stack = page_talk_therapy.talk_therapy_text_stack %}
{% include './_includes/sections/text-stack.njk' %}

<!-- prettier-ignore -->
{% set carousel_full = page_talk_therapy.talk_therapy_carousel_full %}
{% include './_includes/sections/carousel-full.njk' %}

<!-- prettier-ignore -->
{% set image_grid = page_talk_therapy.talk_therapy_image_grid %}
{% include './_includes/sections/image-grid.njk' %}

<!-- prettier-ignore -->
{% set carousel_testimonial = page_talk_therapy.talk_therapy_carousel_testimonial %}
{% include './_includes/sections/carousel-testimonial.njk' %}

<!-- prettier-ignore -->
{% set stats = page_talk_therapy.talk_therapy_stats %}
{% include './_includes/sections/stats.njk' %}

<!-- prettier-ignore -->
{% set common_questions = page_talk_therapy.talk_therapy_common_questions %}
{% include './_includes/sections/common-questions.njk' %}

<!-- prettier-ignore -->
{% set text_stack = page_talk_therapy.talk_therapy_text_invite %}
{% include './_includes/sections/text-stack.njk' %}
